body {
    margin: 0;
    padding: 0;

        
    font-family: "Oswald", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    
    background-color: #ffffff;
    
    overflow-x: hidden;
}

@media (min-width: 1080px) {
    .top-right-background {
        background-image: url(../imgs/index-background-desktop.jpg);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 740px;
    }
}

