@media (min-width: 1080px) {
    .cats {
        padding: 0;
        margin: 0; 
    } 
}

.cats__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;

    overflow-x: hidden;
}

@media (min-width: 1080px) {
    .cats__wrapper {
        position: absolute;
        transform: translate(550px, -450px);
        width: 678px;
    }
}

.cats__cat {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: transform 0.3s ease;
}

.cats__cat_hidden {
    transform: translateX(200%);
    overflow-x: hidden;
}

.cats__range-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1080px) {
    .cats__range-wrapper {
        position: absolute;
        transform: translate(650px, 70px);
    }
}

.cats__range-button {
    height: 48px;
    padding-left: 18px;
    padding-right: 18px;
    background: none;
    border: none;
    text-transform: uppercase;
}

.cats__range {
    position: relative;
    width: 82px;
    height: 12px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
}

@media (min-width: 700px) {
    .cats__range {
        width: 428px;
        height: 6px;
        background-color: #dcdcdc;
    }
}

.cats__range::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    width: 36px;
    height: 6px;
    border-radius: 2px;
    transform: translateY(-50%);
    background-color: #68b738;
    transition: left 0.3s ease;
}

@media (min-width: 700px) {
    .cats__range::after {
        width: 8px;
        height: 8px;
        left: 0;
        border: 12px solid #fff;
        border-radius: 50%;
        outline: 1px solid #dcdcdc;
    }
}

.cats__range_after::after {
    left: 44px;
 }

 @media (min-width: 700px) {
     .cats__range_after::after {
         left: 400px;
     }
 }




