.contacts {
    display: flex;    
}

@media (min-width: 700px) {
    .contacts {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 70px;
        padding-bottom: 60px;

        display: grid;
        column-gap: 374px;
        grid-template-columns: 150px 160px;
    }
}

@media (min-width: 1080px) {
    .contacts {
        margin: 0;
        padding-left: 74px;
        padding-right: 74px;

        position: absolute;
        transform: translate(100px, 150px);
        width: 400px;

        column-gap: 100px;
        background-color: #fff;
    }
}

.contacts__invitation {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
    text-transform: uppercase;
}

@media (min-width: 700px) {
    .contacts__invitation {
        font-size: 20px;
        line-height: 26px;
        margin: 0;
    }
}

.contacts__add {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-right: 20px;
}

@media (min-width: 700px) {
    .contacts__add {
        margin: 0;

        line-height: 20px;
        text-align: right;
    }
}

@media (min-width: 1080px) {
    .contacts__add {
        width: 154px;
        text-align: left;
    }
}