.contacts {
    display: flex;    
}

@media (min-width: 700px) {
    .contacts {
        display: grid;
        column-gap: 374px;
        grid-template-columns: 150px 160px;
        margin-left: 6%;
        margin-right: 6%;
        padding-top: 70px;
        padding-bottom: 60px;
    }
}

.contacts__invitation {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 6%;
}

@media (min-width: 700px) {
    .contacts__invitation {
        font-size: 20px;
        line-height: 25px;
        margin: 0;
    }
}

.contacts__add {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-right: 6%;
}

@media (min-width: 700px) {
    .contacts__add {
        line-height: 20px;
        margin: 0;
        text-align: right;
    }
}