.contacts {
    display: grid;
    grid-template-rows: 114px 360px;
}

@media (min-width: 700px) {
    .contacts {
        grid-template-rows: 200px 400px;
    }
}

@media (min-width: 1080px) {
    .contacts {
        display: block;
        position: relative;
    }
}

.contacts__block {
    display: grid;
    grid-template-columns: 160px 160px;
    column-gap: 20px;
    align-items: center;
}

@media (min-width: 700px) {
    .contacts__block {
        grid-template-columns: 2fr 1.5fr;
        column-gap: 324px;
    }
}

@media (min-width: 1080px) {
    .contacts__block {
        position: absolute;
        top: 124px;
        left: 32px;
        grid-template-columns: 180px 220px;
        column-gap: 84px;
        padding: 50px;
        background-color: #fff;
    }
}

.contacts__invitation {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
}

@media (min-width: 700px) {
    .contacts__invitation {
        margin: 0;
        margin-left: 50px;
        font-size: 20px;
        line-height: 26px;
    }
}

.contacts__add {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

@media (min-width: 700px) {
    .contacts__add {
        margin: 0;
        margin-right: 50px;
        line-height: 20px;
        text-align: right;
    }
}

.contacts__map {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3; 
}

@media (min-width: 1080px) {
    .contacts__map {
        width: 100%;
        height: 400px;
    }
}
