.footer-bar__copyright {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.footer-bar__copyright-link {
    text-decoration: none;
}

.footer-bar__copyright-sign {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
}