.feature__list {
    display: grid;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
}

@media (min-width: 700px) {
    .feature__list {
        padding-top: 10px;
        padding-bottom: 100px; 
               
        display: grid;
        grid-column: 148px;
        row-gap: 140px;
        column-gap: 138px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1080px) {
    .feature__list {
        display: grid;
        padding-bottom: 84px;
        grid-column: 232px;
        column-gap: 90px;
        grid-template-columns: 1fr 1fr 1fr 1fr;   
    }
}

.feature__item {
    position: relative;
    display: grid;
    padding-bottom: 26px;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    align-items: center;
}

.feature__item:last-child {
    padding-bottom: 0;
}


@media (min-width: 700px) {
    .feature__item {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 37px;
    }    
}


.feature__advantages-block {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #68b738;
}

@media (min-width: 700px) {
    .feature__advantages-block {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1080px) {
    .feature__advantages-block {
        width: 80px;
        height: 80px;
    }
}

.feature__advantages {
    position: absolute;
    top: 14px;
    right: 16px;
}

@media (min-width: 700px) {
    .feature__advantages {
        top: 26px;
        left: 26px;
    }
}

@media (min-width: 1080px) {
    .feature__advantages {
        top: 26px;
        left: 26px;
    }
}

.feature__description {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

@media (min-width: 700px) {
    .feature__description {
        line-height: 24px;
    }
}

.feature__number {
    position: absolute;
    opacity: 0;
    margin: 0;
}

@media (min-width: 700px) {
    .feature__number {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        opacity: 1;
        color: #f2f2f2;
        font-size: 281px;
        line-height: 206px;
    }
}