.footer-bar {
    background-color: #f2f2f2;
    display: grid;
    grid-template-rows: 24px 18px 38px;
    row-gap: 55px;
    justify-items: center;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}

@media (min-width: 700px) {
    .footer-bar {
        display: grid;

        grid-template-columns: 132px 126px 162px;
        grid-template-rows: 150px;
        column-gap: 130px;

        justify-content: center;
        align-items: center;
        
        margin: 0;
    }
}