.main-nav {
    position: absolute;
    right: 100vh;
}

.main-nav__list {
    list-style: none;
}

.main-nav__item {
    padding-bottom: 25px;
    align-items: baseline;
}

.main-nav__item-link {
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;    
}

@media (min-width: 700px) {
    .main-nav {
        display: flex;
        align-items: center;
        position: static;
    }
    
    .main-nav__list {
        display: flex;
    }

    .main-nav__item {
        padding-bottom: 0;
        margin-right: 34px;
    }

    .main-nav__item:last-child {
        margin-right: 0;
    }

    .main-nav__item-link {
        font-size: 18px;
        font-weight: 400;

    }
}