.page-header {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.page-header__logo,
.page-header__logo-image,
.page-header__button-menu {
    position: relative;
}

.page-header__logo-image {
    padding-right: 57px;
    padding-top: 11px;
}

.page-header__button-menu {
    background-image: url("../imgs/mobile-menu.svg");
    background-color: transparent;
    border: none;
    width: 24px;
    height: 18px;
    margin-top: 23px;
}