.page-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
}

.page-header__button-menu {
    background-image: url("../imgs/mobile-menu.svg");
    background-color: transparent;
    border: none;
    width: 24px;
    height: 18px;
    margin-top: 12px;
}

@media (min-width: 700px) {
    .page-header {
        padding-top: 24px;
    }

    .page-header__button-menu {
        display: none;
    }
}

@media (min-width: 1080px) {
    .page-header {
        padding-top: 54px;
        padding-left: 110px;
        padding-right: 110px;
    }
}