.program {
    background-color: #f2f2f2;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.program__title {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 38 px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 30px;
}

.program__decor {
    position: relative;
    top: -30px;
    left: 22px;
    border-radius: 50%;
    background-color: #68b738;
    width: 50px;
    height: 50px;
}

.program__cat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.program__description {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 0;
    text-align: left;
    color: #444444;
}

.hr {
    margin: 0;
    border: none;
    width: 90%;
    position: relative;
    right: -20px;
    height: 2px;
    background-color: #e1e1e1;
    margin-bottom: 20px;
}

.program__item-link {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
}
