@media (min-width: 1080px) {
    .total-program { 
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;
    }
}

.program {
    position: relative;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}

@media (min-width: 700px) {
    .program {
        padding: 0;
    }
}

@media (min-width: 1080px) {
    .program {
        margin: 0;        
        width: 100%;
        margin-right: 80px;
    }

    .program:last-child {
        margin: 0;
    }
}

.program__title {
    padding-top: 40px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; 
    color: #000;
}

/* @media (min-width: 700px) {
    .program__title {
        padding-left: 53px;
        font-size: 36px;
        text-align: left;
    }
}*/

@media (min-width: 1080px) {
    .program__title {
        margin: 0;
        padding-top: 82px;
        padding-bottom: 74px;
        font-size: 36px;
        align-items: center;
    }
}

.program__decor-block {
    position: absolute;
    top: 26px;
    left: 22px;
}

@media (min-width: 1080px) {
    .program__decor-block {
        top: 48px;
        left: 52px;
    }
}

.program__decor {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
}

@media (min-width: 700px) {
    .program__decor {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1080px) {
    .program__decor {
        width: 100px;
        height: 100px;
    }
}

.program__cat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.program__cat_1 {
    width: 35px;
    height: 49px;
}

@media (min-width: 700px) {
    .program__cat_1 {
        width: 140px;
        height: 194px;
    }
}

@media (min-width: 1080px) {
    .program__cat_1 {
        width: 70px;
        height: 97px;
    }
}

.program__cat_2 {
    width: 67px;
    height: 28px;
}

@media (min-width: 700px) {
    .program__cat_2 {
        width: 268px;
        height: 112px;
    }
}

@media (min-width: 1080px) {
    .program__cat_2 {
        width: 134px;
        height: 56px;
    }
}

.program__description {
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    text-align: left;
    color: #444444;
}

/* @media (min-width: 700px) {
    .program__description {
        margin: 0;
        width: 376px;
        font-size: 16px;
        line-height: 24px;
    }
} */

@media (min-width: 1080px) {
    .program__description {
        margin: 0;
        padding-left: 52px;
        padding-right: 52px;
        padding-bottom: 34px;
        font-size: 16px;
        line-height: 24px;
    }
} 

.program__link-block {
    padding-left: 20px;
    padding-bottom: 24px;
}

@media (min-width: 1080px) {
    .program__link-block {
        padding-left: 52px;
        padding-bottom: 62px;
    }    
}

.program__item-link {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

/* @media (min-width: 700px) {
    .program__item-link {
        position: relative;
        top: -80px;
        margin: 0;
        padding-left: 52px;
        font-size: 20px;
        line-height: 20px;
    }
} */

@media (min-width: 1080px) {
    .program__item-link {
        margin: 0;
        padding-bottom: 64px;
        font-size: 20px;
        line-height: 20px;
    }
}