.promo {
    display: block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../imgs/index-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.promo__title {
    background-position: center;
    left: 20px;
    top: 32px;
    right: 20px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    line-height: 36px;
    font-weight: 400;
    color: #fff;
    padding-top: 33px;
}

.lead {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding-top: 15px;
}

.promo-image {
    padding-top: 30px;
    width: 271px;
}

.promo__button {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #68b738;    
    margin-bottom: 20px;
    width: 100%;
}

.promo__link {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;  
}

