.promo {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    text-align: center;
}


@media (min-width: 1080px) {
    .promo {        
        padding-top: 104px;
        padding-bottom: 352px;
        display: grid;
    }
}

.promo__background {
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: -1;

    width: 376px;
}

@media (min-width: 700px) {
    .promo__background {
        display: none;

    }
}

@media (min-width: 1080px) {
   .promo__background {
       position: absolute;
       transform: translate(702px, -222px);
       display: block;
       width: 720px;
   }
}

.promo__title {
    padding-top: 33px;
    left: 20px;
    top: 32px;
    right: 20px;
    background-position: center;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    line-height: 36px;
    font-weight: 400;
    color: #fff;
}

@media (min-width: 700px) {
    .promo__title {
        margin: auto;
        padding-top: 67px;
        padding-left: 117px;
        padding-right: 146px;
        font-size: 60px;
        line-height: 60px;
        text-align: initial;
        color: #000;
    }
}

@media (min-width: 1080px) {
    .promo__title {
        padding: 0;
        margin-left: 190px;
        width: 420px;

      }
}

.promo__lead {
    padding-top: 15px;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

@media (min-width: 700px) {
    .promo__lead {
        padding-left: 117px;
        padding-top: 32px;  
        font-size: 20px;
        line-height: 20px;
        text-align: left;
        color: #000;
    }
}

@media (min-width: 1080px) {
    .promo__lead {
        padding: 0;
        padding-top: 50px;
        margin-left: 190px;
    }
}

.promo__image {
    padding-top: 30px;
    width: 271px;
}

@media (min-width: 700px) {
    .promo__image {
        width: 709px;
        height: 609px;
        padding-top: 0;
    }
}

@media (min-width: 1080px) {
    .promo__image {
        position: absolute;
        transform: translate(100%, -102px);
        width: 552px;
        height: 560px;
    }
}

.promo__link {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 20px;
    
    width: 100%;
    display: block;
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;  
    color: #fff;
    background-color: #68b738;    
}

@media (min-width: 700px) {
    .promo__link {
        position: absolute;
        width: 245px;
        transform: translate(48%, -1090%);
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 20px;
        line-height: 20px;
        background-color: #68b738;
    }
}

@media (min-width: 1080px) {
    .promo__link {
        position: absolute;
        transform: translate(190px, 260px);
    }
}