.statistic {
    display: flex;  
    margin-top: 30px;
}

.statistic__item_1 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-top: 18px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 18px;
    margin-right: 32px;
    margin-left: 12%;
    border: 1px solid #cdcdcd;
}

.statistic__item_2 {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-top: 18px;
    padding: 20px;
    padding-bottom: 18px;
    border: 1px solid #cdcdcd;
}

.statistic__mark_1 {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #f2f2f2;
    position: relative;
    width: 53px;
    top: -37px;
    left: 63px;
}

.statistic__mark_2 {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #f2f2f2;
    position: relative;
    width: 53px;
    top: -37px;
    left: 130px;
}