.statistic {
    position: relative;
    border: 1px solid #cdcdcd; 
    
}

.statistic__item {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 27px; 
    padding: 20px;
}

.statistic__mark {
    position: absolute;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
}