.statistic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px 18px;
    column-gap: 40px;
}

@media (min-width: 700px) {
    .statistic {
        grid-template-columns: 124px 124px;
    }
}

@media (min-width: 1080px) {
    .statistic {
        padding-top: 70px;
        column-gap: 40px;
    }
}

.statistic__item {
    padding-top: 18px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 3%;
}

.statistic__item_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.statistic__item_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.statistic__mark {   
    width: 83px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: #f2f2f2;
}

.statistic__mark_1 {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.statistic__mark_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
