.title {
    padding-top: 34px;
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
}

@media (min-width: 700px) {
    .title {
        font-size: 60px;
        text-align: left;
    }
}

@media (min-width: 1080px) {
    .title {
        padding-bottom: 70px;
        background-color: #fff;
    }
}
