@media (min-width: 1080px) {
    .top-right-background {
        background-image: url(../imgs/index-background-desktop.jpg);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 740px;
    }
}